#modal-takeover-content img {
  width: 100%;
  height: auto;
}
#modal-takeover-content > div {
  display: grid;
  row-gap: 1em;
}
#modal-takeover-content .image:not(.mobile_image) {
  display: none;
}

#modal-takeover-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em 1em 1em;
  text-align: center;
}

#modal-takeover-content .text > * {
  margin: .15em auto;
}

a.cta_link {
  background: rgb(237, 1, 0);
  color: white;
  border-radius: 9999px;
  border-width: 0;
  display: inline-block;
  padding: .65rem 1.25rem .65rem 1.5rem;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  transition-duration: .15s;
  transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
a.cta_link > span {
  display: flex;
  align-items: center;
}
a.cta_link > span svg {
  height: 1.25em;
  width: 1.25em;
  margin: .25em 0 0 .5em;
  scale: .75;
}

@media only screen and (max-width: 767px) {
  #modal-takeover-content .text h3 {
    font-size: 116%;
  }
  a.cta_link {
    margin-top: 10px;
  }
  #takeover.modal .modal-container a.close {
    display: inherit;
    top: -12px;
    right: -24px;
    font-size: 12px;
    padding: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  #takeover.modal .modal-container {
    max-width: 65vw;
    min-width: 700px;
  }
  #modal-takeover-content > div {
    grid-template-columns: 50% 50%;
  }
  #modal-takeover-content .image:not(.mobile_image) {
    display: inherit;
  }
  #modal-takeover-content .mobile_image {
    display: none;
  }
  #modal-takeover-content .text {
    text-align: left;
    padding-top: 1em;
  }
  #modal-takeover-content .text div.cta_link {
    margin-right: 1em;
  }
}
