body {
  padding-top: 0px !important;
}
a.play,
.transcript__meta,
#player,
#footer-menu,
#main-menu {
  display: none !important;
}
#site-header {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
}
#site-header,
#site-header a {
  background: none !important;
  color: black !important;
}
#site-header > .container {
  padding-left: 0;
  padding-right: 0;
}
#footer {
  background: none !important;
}
#footer .site-name {
  margin-bottom: 20px !important;
}
#footer ul.links {
  display: none !important;
}
.node.node-transcript header {
  margin: 0 0 20px;
}
.node.node-transcript header .meta {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 17px;
}
.node.node-transcript header .field-name-field-notes {
  font-size: 16px;
  line-height: 20px;
}
.node.node-transcript .content .act h3 {
  background: none;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}
.node.node-transcript .content .act .act-inner {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.node.node-transcript .content .act .act-inner p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.node.node-transcript .content .act .act-inner h4 {
  font-size: 16px;
  line-height: 20px;
}
